/* Footer */

.footer-logo {
    height: 80px;
    width: 80px;
  }
  
  .footer-texto {
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
  }

  .derechos-de-autor {
    font-size: 15px;
    color: #000000;
    position: relative;
    right: 50px;
  }